@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;

}

.main {
    background-image: url("assests/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;


}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);

}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    gap: 23px;
    padding: 0 30px;
    font-weight: 900;
    font-weight: bolder;

}

.hero>span:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 6px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
    opacity: 0.69;
}

.red {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(240, 236, 236, 0.5)
}

.heros {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimage {
    position: relative;
}

.secimage img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimage video {
    position: absolute;
    top: 75px;
    right: 0;
    width: 479px;

}

.section.first>div {
    display: flex;
    flex-direction: row;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 55px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.second>div :nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.second>div :nth-child(2) {
    font-size: 24px;
}

.third>div :nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.third>div :nth-child(2) {
    font-size: 24px;
}

.four>div :nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
    display: block;
}

.four>div :nth-child(2) {
    font-size: 24px;
    display: block;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox:hover {
    transition: all 1s ease-in-out;
    background-color: #414141
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-in-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 34px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    align-items: start;
    display: flex;
    flex-direction: column;
}